* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input, textarea{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

body {
    display: grid;
    place-items: center;

    background: #121214 ;
}

.MainContainer {
    width: 375px;
    height: 450px;
}

.container {
    min-width: auto;
    margin-left: auto;
    margin-right: auto;

    background: #9466ff;
    border-radius: 0.5rem;

    text-align: center;
    color: white;
}

.profile-container > img {
    width: 8rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}
